.tmp_words1 ul li::marker{color:#08c96d;}
.tmp_words2 ul li::marker{color:#ffd409;}

  #rec977931901 .tn-elem[data-elem-id="1745390015500"]{top:140px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745390070589"]{top:160px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745390391893"]{top:160px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745390537798"]{top:190px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745390615582"]{top:215px !important;left:120px !important;width:170px !important;}

  #rec977931901 .tn-elem[data-elem-id="1745391321745"]{top:430px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391321769"]{top:450px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391321822"]{top:450px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391321859"]{top:480px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391321895"]{top:505px !important;left:120px !important;width:170px !important;}

  #rec977931901 .tn-elem[data-elem-id="1745391672036"]{top:720px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391672059"]{top:740px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391672117"]{top:740px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391672150"]{top:770px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391672184"]{top:795px !important;left:120px !important;width:170px !important;}

  #rec977931901 .tn-elem[data-elem-id="1745391868869"]{top:1010px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391868894"]{top:1030px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391868962"]{top:1030px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391869002"]{top:1060px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745391869042"]{top:1085px !important;left:120px !important;width:170px !important;}

  #rec977931901 .tn-elem[data-elem-id="1745392167160"]{top:1300px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392167182"]{top:1320px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392167253"]{top:1320px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392167288"]{top:1350px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392167326"]{top:1375px !important;left:120px !important;width:170px !important;}

  #rec977931901 .tn-elem[data-elem-id="1745392350033"]{top:1590px !important;left:10px !important;width:300px !important;height:260px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392350056"]{top:1610px !important;left:20px !important;width:90px !important;height:90px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392350129"]{top:1610px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392350164"]{top:1640px !important;left:120px !important;width:170px !important;}
  #rec977931901 .tn-elem[data-elem-id="1745392350199"]{top:1665px !important;left:120px !important;width:170px !important;}
}


@media screen and (max-width:479px){
  #rec978187746 .t396__artboard{overflow-x:auto !important; overflow-y:hidden !important; -webkit-overflow-scrolling:touch;}
  #rec978187746 .t396__filter, #rec978187746 .t396__carrier{overflow:visible !important;}
  #rec978187746 .tn-elem .tn-atom{border-radius:12px !important;}
  #rec978187746 .tn-elem .tn-atom__img{border-radius:12px !important;}
  #rec978187746 .tn-elem[data-elem-id="1745394999920"] .tn-atom,
  #rec978187746 .tn-elem[data-elem-id="1745395664963"] .tn-atom,
  #rec978187746 .tn-elem[data-elem-id="1745396236851"] .tn-atom,
  #rec978187746 .tn-elem[data-elem-id="1745396672615"] .tn-atom,
  #rec978187746 .tn-elem[data-elem-id="1745396976146"] .tn-atom,
  #rec978187746 .tn-elem[data-elem-id="1745397268792"] .tn-atom{border-radius:12px !important;}
}


@media screen and (max-width:479px){
  #rec978187746 .t396__artboard::before{
    content: "OUR\A DREAM TEAM";
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00d46a;
    font-family: 'Geologica', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    white-space: pre;
    z-index: 9999;
  }
}


@media screen and (max-width:479px){
  #rec978187746 .tn-elem .tn-atom__img{filter:none !important;}
}
